.productList{
    flex: 7;
}
.productListTopContainer{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;    
}
.productListTitle{
    font-weight: 600;
}
.createProductBtn{
    border: none;
    background-color: teal;
    color: white;
    margin-right: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.productListContainer{
    display: flex;
    align-items: center;
}
.productListImg{
    margin-right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
/* userList 동일하게 적용 */ 